body {
    background-image: url('/static/wallhaven-1pyp9v.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form > * {
    font-size: 2rem;
}