body {
    background-image: url('/static/wallhaven-1pyp9v.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 1.25rem;
    background-color: #cccccc;
}

form > * {
    background: none;
    outline: none;
    border: none;
}

input {
    padding: 1rem;
    font-size: 1rem;
}

button {
    padding-right: 1rem;
}